<header>
    <nav>
        <div class="nav-wrapper green">
            <a href="/" class="brand-logo">Diet Tracker</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% if(user) { %>
                    <li><a href="/diets">All Diets</a></li>
                    <li><a href="/diets/new">Create a New Diet</a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/auth/google">Login With Google</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>