<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container">
        <h4>Add a Nutrient</h4>
        <form action="/diets/<%= dietId %>/nutrients" method="post">
            <div class="input-field">
                <input name="name" type="text"><br>
                <label>Nutrient Name</label>
            </div>
            <div>
                <select name="intake">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <label>Select Nutrient Intake</label>
            </div>
            <input class="btn btn-small" type="submit" value="Add Nutrient"><br>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>