<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="container">
        <h4>Add a Nutrient</h4>
        <form action="/diets/<%= dietId %>/meals" method="POST">
            <div class="input-field">
                <input name="name" type="text"><br>
                <label>Nutrient Name</label>
            </div>
            <div class="input-field">
                <input type="text" name="breakfast">
                <label>Breakfast</label>
            </div>
            <div class="input-field">
                <input type="text" name="lunch">
                <label>Lunch</label>
            </div>
            <div class="input-field">
                <input type="text" name="dinner">
                <label>Dinner</label>
            </div>
            <div class="input-field">
                <input class="datepicker" type="text" name="date">
                <label>Day of Meals</label>
            </div>
            <input class="btn btn-small" type="submit" value="Add Meals">
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>